
    #content{
        background-color: rgb(248, 248, 245) ;
    }
    .jumbotron{
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient(to bottom right, #b3f7ae, #6bddcc);
        transition: 1s;
        
        
        align-items: center;
    }
    .lead-text{
        color: black;
        font-size: larger;
    }
    h1{
        color: black;
        font-stretch: condensed;
        font-weight: bold;
    }
    h2{
        font-weight: bold;
        color: black;
    }
    h5{
        font-weight: 700;
        color: rgb(80, 80, 80);
    }
        
        
    
    .col-md-4{

        box-shadow: 0 px px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
        
    }
    .card.mb-4.shadow-sm:hover{
        border-top: 1.5px solid rgb(146, 213, 240) ;
        border-bottom: 1.5px solid rgb(146, 213, 240) ;
        border-left: 1.5px solid  rgb(146, 213, 240) ;
        border-right: 1.5px solid  rgb(146, 213, 240) ;
        transition: 0.4s ease-in-out;
        transform: scale(1.06);
        
        
        

        
    }
    .card.mb-4.shadow-sm{
        width: 300px;
        
        
    }
    .col-md-4{
        padding-top: 25px ;
    }
        
    
    .card-body{
        border-top: 10px solid  #3dae9d ;

        
    }
    .card-body:hover{
        background-image: linear-gradient(to bottom right, #79f06e, #8fe7da);
    }
    .btn-group{
        width: 30px;
        height: 40px;
        
    }
    .btn-group:hover{

        width: 30px;
        height: 40px;
        
    }
    .btn.btn-sm.btn-outline-secondary:hover{
        color: black;
        background-color:rgb(42, 170, 221);
        margin-top: 1px 1px 1px 1px;
    }
    .btn.btn-primary.my-2{
        background-image: linear-gradient(to bottom right, #79f06e, #8fe7da);
        color: black;
        border: 1px solid rgb(146, 213, 240) ;
    }
   /* .btn.btn-secondary.my-2{
        background-image: linear-gradient(to bottom right, #79f06e, #8fe7da);
        color: black;
        border: 1px solid rgb(68, 233, 68) ;

    }*/
        
        

    
    #email{
        width: 30px;
    }
    .bd-placeholder-img.card-img-top:hover{
        background-image: linear-gradient(to bottom right, #79f06e, #8fe7da);
        transition-timing-function:ease-in;
        transition-property: unset;
    }
   
    
